.Jobs{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
  }

  .Jobs-container {
    border-radius: 2rem;
    background-color: white;
    padding: 6rem;
  }

  .Jobs-title, 
  .Jobs-lead {
    color: black;
  }

  .Jobs-lead {
    margin-bottom: 2rem;
  }